<div class="column is-one-quarter">
  <div class="card">
    <div class="card-image">
      <% if product.image.present? %>
        <%= image_tag(product.image) %>
      <% end %>
    </div>
    <div class="card-content">
      <p class="title is-5"><%= product.name %></p>

      <div class="content">
        <p class="subtitle is-6">Price: <%= number_to_currency product.salePrice / 100.0 %></p>
      </div>

        <%= form_tag(checkout_create_path, remote: true) do %>
          <%= hidden_field_tag(:product_id, product.id) %>

          <div class="buttons has-addons is-centered">
          <%= button_tag class: "button is-info is-outlined" do %>
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-cart-plus"></i>
              </span>
              <span>Add</span>
            </span>
          <% end %>


          <%= link_to product, class: "button is-info is-outlined" do %>
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-eye"></i>
            </span>
              <span>View</span>
            </span>
          <% end %>
          </div>


        <% end %>

    </div>
  </div>
</div>