<p id="notice"><%= notice %></p>

<div class="columns box content">
  <%= image_tag(@product.image.variant(resize_to_limit: [300, 285]).processed) %>

  <div class="column">
    <p class="title is-4">
      <%= @product.name %>
    </p>

    <p class="title is-5">
      Price:
      <p class="subtitle is-3">
        <%= number_to_currency @product.salePrice / 100.0 %>
      </p>
    </p>

    <p class="title is-5">
      Description:
      <div class="subtitle is-6">
        <%= @product.description %>
      </div>
    </p>

    <p class="title is-5">
      Stock:
      <div class="subtitle is-6">
        <%= @product.quantity %>
      </div>
    </p>
  </div>

    <%= form_with url: cart_products_path, method: :post do |form|%>
      <%= hidden_field_tag(:product_id, @product.id) %>

      <% if @product.quantity <= 0 %>
        <div class="field">
          <button class="button is-info is-outlined" title="Disabled button" disabled>Sold Out</button>
        </div>
      <% else %>
        <div class="field">
          <label class="label" for="quantity">Quantity:</label>
          <%= form.number_field :quantity, in: 1..@product.quantity, value: 1 , class: "input is-half" %>
        </div>

        <div class="field">
          <%= button_tag class: "button is-info is-outlined" do %>
            <span class="icon-text">
              <span class="icon">
                <ion-icon name="cart-outline"></ion-icon>
              </span>
              <span >Add to Cart</span>
            </span>
          <% end %>
        </div>
      <% end %>
    <% end %>

</div>