<p id="notice"><%= notice %></p>

<div class="columns box content">
  <%= image_tag(@product.image.variant(resize_to_limit: [300, 285]).processed) %>

  <div class="column">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <strong>Saleprice:</strong>
        <%= @product.salePrice %>
      </p>

      <p>
        <strong>Msrp:</strong>
        <%= @product.msrp %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @product.quantity %>
      </p>

      <%= form_tag(checkout_create_path, remote: true) do %>
        <%= hidden_field_tag(:product_id, @product.id) %>

        <%= button_tag class: "button is-info is-outlined" do %>
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="cart-outline"></ion-icon>
            </span>
            <span>Add</span>
          </span>
        <% end %>
      <% end %>
</div>