<p id="notice"><%= notice %></p>

<div class="columns box content">
  <%= image_tag(@product.image.variant(resize_to_limit: [300, 285]).processed) %>

  <div class="column">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <strong>Saleprice:</strong>
        <%= @product.salePrice %>
      </p>

      <p>
        <strong>Msrp:</strong>
        <%= @product.msrp %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @product.quantity %>
      </p>


</div>