<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @product.salePrice %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @product.msrp %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

