<!DOCTYPE html>
<html>
  <head>
    <title>AndroidsDungeon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body>
    <section class="section">
      <div class="container">

      <div class="columns is-centered is-vcentered is-gapless">
        <div class="column">
          <figure class="image is-128x128">
            <%= image_tag "logo.png", alt: "logo" %>
          </figure>
        </div>
        <div class="column is-full">
          <h1 class="title is-1">The Android's Dungeon: Games & Hobbies</h1>
        </div>

      </div>

        <%= form_with(url: search_products_path, local: true, method: "get", class: 'mt-5 mb-5') do %>
          <div class="field has-addons">
            <div class="control">
              <%= text_field_tag(:search_term, nil, class: 'input', placeholder: 'Search Products By Name', required: true) %>
            </div>
            <div class="control">
              <div class="select">
                <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), prompt: "All"%>
              </div>
            </div>
            <div class="control">
              <%= submit_tag("Search", class: "button is-info") %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>


